@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --color-primary: #3F51B5;
    --color-secondary: "#FF7F4D";
    --color-text: #11142D;
    --color-grey: #EEF4FF;
    --color-bg: #fff;
    --color-error: red;
  }

  :root[class="dark"] {
    --color-primary: #3F51B5;
    --color-secondary: "#FF7F4D";
    --color-text: #fff;
    --color-bg: #10182C;
    --color-grey: #535b6b;
    --color-error: red;
  }
}